/* Sidebar transition */
.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #343a40;
  z-index: 1040;
  display: block;
  transform: translateX(-100%);
}

.offcanvas.show {
  transform: translateX(0);
}

.offcanvas-header {
  background-color: #343a40;
}

.nav-link {
  color: white !important;
}

.btn-close {
  background-color: transparent;
  border: none;
  color: white;
}
